@model KitabinBende.MvcWeb.Models.ViewModels.BookListingViewModel

@{
    ViewData["Title"] = "Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-menu">
                    <ul>
                        <li><a href="/">Anasayfa</a></li>
                        @foreach (var itemCategoryListForBreadcrumbs in Model.CategoryListForBreadcrumbs)
                        {
                            <li>
                                <a href="/book/listing/@itemCategoryListForBreadcrumbs.CategoryId">@itemCategoryListForBreadcrumbs.CategoryName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs-area-end -->
<!-- shop-main-area-start -->
<div class="shop-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="shop-left">
                    <div class="section-title-5 mb-30">
                        <h2>Kitap</h2>
                    </div>
                    <div class="left-title mb-20">
                        <h4>Kategori</h4>
                    </div>
                    <div class="left-menu mb-30" style="max-height: 400px;overflow-y: auto;padding-right: 10px;">

                        <ul>
                            @foreach (var itemCategoryForFilter in Model.CategoryListForFilter)
                            {
                                <li><a href="/book/listing/@itemCategoryForFilter.Key.CategoryId">@itemCategoryForFilter.Key.CategoryName<span>(@itemCategoryForFilter.Value)</span></a></li>
                            }
                        </ul>
                    </div>
                    <div class="left-title mb-20">
                        <h4>Dil</h4>
                    </div>
                    <div class="left-menu mb-30" style="max-height: 400px;overflow-y: auto;padding-right: 10px;">
                        <ul>
                            @foreach (var itemLanguageForFilter in Model.LanguagesListForFilter)
                            {
                                <li><a href="#">@itemLanguageForFilter.Key.LanguageName<span>(@itemLanguageForFilter.Value)</span></a></li>
                            }
                        </ul>
                    </div>
                    <div class="left-title mb-20">
                        <h4>Yazar</h4>
                    </div>
                    <div class="left-menu mb-30" style="max-height: 400px;overflow-y: auto;padding-right: 10px;">
                        <ul>
                            @foreach (var itemAuthorForFilter in Model.AuthorListForFilter)
                            {
                                <li><a href="#">@itemAuthorForFilter.Key.AuthorName<span>(@itemAuthorForFilter.Value)</span></a></li>
                            }
                        </ul>
                    </div>

                    <div class="left-title mb-20">
                        <h4>Yayınevi</h4>
                    </div>
                    <div class="left-menu mb-30" style="max-height: 400px;overflow-y: auto;padding-right: 10px;">
                        <ul>
                            @foreach (var itemPublisherForFilter in Model.PublisherListForFilter)
                            {
                                <li><a href="#">@itemPublisherForFilter.Key.PublisherName<span>(@itemPublisherForFilter.Value)</span></a></li>
                            }
                        </ul>
                    </div>
                    @*Reklam Alanı*@
                    @*<div class="banner-area mb-30">
                            <div class="banner-img-2">
                                <a href="#"><img src="/img/banner/31.jpg" alt="banner" /></a>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                @*Reklam Alanı*@
                @*<div class="category-image mb-30">
                        <a href="#"><img src="/img/banner/32.jpg" alt="banner" /></a>
                    </div>*@
                <div class="section-title-5 mb-30">
                    <h2>Kitaplar</h2>
                </div>
                <div class="toolbar mb-30">
                    <div class="shop-tab">
                        <div class="tab-3">
                            <ul>
                                <li class="active"><a href="#th" data-toggle="tab"><i class="fa fa-th-large"></i>Galeri</a></li>
                                <li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>Liste</a></li>
                            </ul>
                        </div>
                        <div class="list-page">
                            <p>
                                <b>Sonuç :</b> @Model.TotalBookCount
                                <b>Sayfa :</b>@{
                                    string pageInfo = ((Model.CurrentPage - 1) * Model.PageSize).ToString()
                                          + " - "
                                          + (((Model.CurrentPage - 1) * Model.PageSize) + Model.PageSize).ToString();} @pageInfo
                                    </p>
                                </div>
                            </div>
                            <div class="field-limiter">
                                <div class="control">
                                    <span>Sayfalama</span>
                                    <!-- chosen-start -->
                                    <select data-placeholder="Default Sorting" style="width:50px;" class="chosen-select" tabindex="1">
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <!-- chosen-end -->
                                </div>
                            </div>
                            <div class="toolbar-sorter">
                                <span>Sırala</span>
                                <select id="sorter" class="sorter-options" data-role="sorter">
                                    <option selected="selected" value="position"> Yeni </option>
                                    <option value="position"> A-Z </option>
                                    <option value="name"> Z-A </option>
                                    <option value="price"> En beğenilen </option>
                                    <option value="price"> En çok takas edilen </option>
                                    <option value="price"> Sitede en çok olan </option>
                                </select>
                                @*<a href="#"><i class="fa fa-arrow-up"></i></a>*@
                            </div>
                        </div>
                        <!-- tab-area-start -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="th">
                                <div class="row">

                                    @foreach (var ListLoopItem in Model.Library)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <!-- single-product-start -->
                                            <div class="product-wrapper mb-40">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img src="/BookPhotos/@ListLoopItem.Book.BookImage.Where(x => x.IsActive == true).FirstOrDefault().BookId/@ListLoopItem.Book.BookImage.Where(x => x.IsActive == true).FirstOrDefault().Url" alt="@ListLoopItem.Book.BookName" class="primary" style="width:256px; height:350px" />
                                                    </a>
                                                    <div class="quick-view">
                                                        <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                            <i class="fa fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                    <div class="product-flag">
                                                        <ul>
                                                            <li><span class="sale">new</span></li>
                                                            <li><span class="discount-percentage">-5%</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="product-rating">
                                                        @{int _BookStar = ListLoopItem.Book.BookStarPoint.Where(x => x.IsActive == true).Count() > 0 ? Convert.ToInt32(Math.Round(ListLoopItem.Book.BookStarPoint.Where(x => x.IsActive == true).Average(x => x.Point), MidpointRounding.AwayFromZero)) : 0;

                                                            <ul>
                                                                @for (int i = 0; i < _BookStar; i++)
                                                                {
                                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                }

                                                            </ul>
                                                            if (_BookStar == 0)
                                                            {
                                                                <span>Puan Yok</span>
                                                            }
                                                        }


                                                    </div>
                                                    <h4>
                                                        <a href="#">
                                                            @(ListLoopItem.Book.BookName.Length > 20
                                                    ? ListLoopItem.Book.BookName.Substring(0, 20) + ".."
                                                    : ListLoopItem.Book.BookName)
                                                    </a>
                                                </h4>
                                                <div class="product-price">
                                                    <ul>
                                                        @foreach (var AuthorNameLoopItem in ListLoopItem.Book.BookAuthor)
                                                        {
                                                            <li>
                                                                @(
                                                                    AuthorNameLoopItem.Author.AuthorName.Length > 15
                                                                    ? AuthorNameLoopItem.Author.AuthorName.Substring(0, 15) + ".."
                                                                    : AuthorNameLoopItem.Author.AuthorName
                                                            )
                                                        </li>
                                                    }
                                                        @(ListLoopItem.Book.BookAuthor.Count > 0
                                                            ? Html.Raw("")
                                                            : Html.Raw("<li>-</li>"))


                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="#" title="Detay"><i class="fa fa-book"></i>Detay</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Detay"><i class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-end -->
                                    </div>
                                }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list">
                                @foreach (var ListLoopItem in Model.Library)
                                {
                                    <!-- single-shop-start -->
                                    <div class="single-shop mb-30">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="product-wrapper-2">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="/BookPhotos/@ListLoopItem.Book.BookImage.Where(x => x.IsActive == true).FirstOrDefault().BookId/@ListLoopItem.Book.BookImage.Where(x => x.IsActive == true).FirstOrDefault().Url" alt="@ListLoopItem.Book.BookName" class="primary" style="width:256px; height:400px" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <div class="product-wrapper-content">
                                                    <div class="product-details">
                                                        <div class="product-rating">
                                                            @{int _BookStar = ListLoopItem.Book.BookStarPoint.Where(x => x.IsActive == true).Count() > 0 ? Convert.ToInt32(Math.Round(ListLoopItem.Book.BookStarPoint.Where(x => x.IsActive == true).Average(x => x.Point), MidpointRounding.AwayFromZero)) : 0;

                                                                <ul>
                                                                    @for (int i = 0; i < _BookStar; i++)
                                                                    {
                                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                                    }

                                                                </ul>
                                                                if (_BookStar == 0)
                                                                {
                                                                    <span>Puan Yok</span>
                                                                }
                                                            }
                                                        </div>
                                                        <h4><a href="#">@ListLoopItem.Book.BookName</a></h4>
                                                        <div class="product-price">
                                                            <ul>
                                                                @foreach (var AuthorNameLoopItem in ListLoopItem.Book.BookAuthor)
                                                                {
                                                                    <li>@AuthorNameLoopItem.Author.AuthorName</li>
                                                                }
                                                            </ul>
                                                        </div>
                                                        <div style="max-height: 215px; overflow: auto;">@Html.Raw(ListLoopItem.Book.Description)</div>
                                                    </div>
                                                    <div class="product-link">
                                                        <div class="product-button">
                                                            <a href="#" title="Detay"><i class="fa fa-book"></i>Detay</a>
                                                        </div>
                                                        <div class="add-to-link">
                                                            <ul>
                                                                <li><a href="product-details.html" title="Detay"><i class="fa fa-external-link"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-shop-end -->
                                }
                            </div>
                        </div>
                        <!-- tab-area-end -->
                        <!-- pagination-area-start -->
                        <div class="pagination-area mt-50">
                            <div class="list-page-2">
                                <p>
                                    <b>Sonuç :</b> @Model.TotalBookCount
                                    <b>Sayfa :</b> @pageInfo
                                </p>
                            </div>
                            <book-list-pager current-page="@Model.CurrentPage"
                                             page-count="@Model.PageCount"
                                             page-size="@Model.PageSize"
                                             base-url="/book/listing"
                                             current-category-id="@Model.CurrentCategoryID">
                            </book-list-pager>
                            @*<div class="page-number">
                                <ul>
                                    <li><a href="#" class="active">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#" class="angle"><i class="fa fa-angle-right"></i></a></li>
                                </ul>*@
                        </div>
                    </div>
                    <!-- pagination-area-end -->
                </div>
            </div>
        </div>
        </div>
        <!-- shop-main-area-end -->
